<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>计划任务工作台</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../resources/css/mcap-all.css">
    <link rel="stylesheet" href="../resources/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../resources/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../resources/plugins/adminLTE/css/skins/_all-skins.min.css">
    <!--jquery-->
    <script src="../resources/plugins/jQuery/jquery-3.3.1.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="../resources/plugins/bootstrap/css/bootstrap.min.css">
    <script src="../resources/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--AngularJS-->
    <script src="../resources/plugins/angularjs/angular.min.js"></script>
    <!--AngularJS module/controller/service-->
    <script src="../resources/js/module/base.js" type="text/javascript"></script>
    <script src="../resources/js/service/quartz/quartzService.js" type="text/javascript"></script>
    <script src="../resources/js/controller/baseController.js" type="text/javascript"></script>
    <script src="../resources/js/controller/quartz/quartzController.js" type="text/javascript"></script>
    <!-- 分页插件 -->
    <link rel="stylesheet" href="../resources/plugins/angularjs/pagination.css">
    <script src="../resources/plugins/angularjs/pagination.js"></script>
    <!-- 时间插件 -->
    <link rel="stylesheet" type="text/css" href="../resources/plugins/datetimepicker/css/wui.min.css">
    <script src="../resources/plugins/datetimepicker/js/wui-date.js" type="text/javascript"></script>
    <!--select2-->
    <link rel="stylesheet" href="../resources/plugins/select2/select2.css"/>
    <link rel="stylesheet" href="../resources/plugins/select2/select2-bootstrap.css"/>
    <script src="../resources/plugins/select2/select2.min.js" type="text/javascript"></script>
    <script src="../resources/plugins/select2/angular-select2.js" type="text/javascript"></script>
    <!--sweet alert-->
    <link rel="stylesheet" href="../resources/plugins/sweetalert/sweet-alert.css"/>
    <script src="../resources/plugins/sweetalert/sweet-alert.min.js" type="text/javascript"></script>

</head>
<body class=" hold-transition skin-red sidebar-mini" ng-app="mcap" ng-controller="quartzController">
<!-- .box -->
<div class="box">
    <!-- .box-body -->
    <div class="box-header with-border">
        <h3 class="box-title">计划任务工作台</h3>
    </div>

    <div class="box-body">
        <!-- 数据表格 -->
        <div class="table-box">

            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info">调度器</button>
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="startUp()">启动</a></li>
                                <li><a ng-click="standBy()">暂停</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info">新建任务</button>
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="initForAdd()" data-toggle="modal"
                                       data-target="#editWindowSimple">简单任务</a></li>
                                <li><a ng-click="initForAdd()" data-toggle="modal"
                                       data-target="#editWindowCron">CRON任务</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-default" onclick="window.location.reload();">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-tools pull-right">
                <div class="has-feedback">
                    任务名称：<input ng-model="condition.jobName"/>
                    <button type="button" class="btn btn-default" ng-click="query(1,pageConf.itemsPerPage)"><i
                            class="fa fa-search"></i></button>
                </div>
            </div>
            <!--工具栏/-->

            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="" style="padding-right:0px">
                        <input id="selall" type="checkbox" class="icheckbox_square-blue">
                    </th>
                    <th>任务名称</th>
                    <th>任务状态</th>
                    <th>任务组</th>
                    <th>触发器类型</th>
                    <!--<th>任务类名</th>-->
                    <th>任务描述</th>
                    <th>上次执行时间</th>
                    <th>下次执行时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in rows">
                    <td><input type="checkbox" ng-click="updateSelected($event,item.userId)"></td>
                    <td>{{item.jobName}}</td>
                    <td>{{item.runningState}}</td>
                    <td>{{item.jobGroup}}</td>
                    <td>{{item.triggerType}}</td>
                    <!--<td>{{item.jobClassName}}</td>-->
                    <td>{{item.description}}</td>
                    <td>{{item.fireTime}}</td>
                    <th>{{item.nextFireTime}}</th>
                    <td class="text-center">
                        <button ng-click="pauseJob(item.jobName,item.jobGroup)" type="button"
                                class="btn btn-sm btn-success"><i class="fa fa-pause"></i>
                        </button>
                        <button ng-click="resumeJob(item.jobName,item.jobGroup)" type="button"
                                class="btn btn-sm btn-warning"><i class="fa fa-play"></i>
                        </button>
                        <button ng-click="deleteJob(item.jobName,item.jobGroup)" type="button"
                                class="btn btn-sm btn-danger"
                                data-toggle="modal" data-target="#editWindow"><i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--数据列表/-->
        </div>
        <!-- 分页 /-->
        <tm-pagination conf="pageConf"></tm-pagination>


    </div>
    <!-- /.box-body -->
    <!-- Loading (remove the following to stop the loading)-->
    <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <!-- end loading -->
    <!-- /.box -->
</div>
<!-- 编辑窗口 -->
<div class="modal fade" id="editWindowSimple" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">新建任务编辑</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" width="800px">
                    <tr>
                        <td>任务名称</td>
                        <td><input ng-model="jobCreateInfo.jobName" class="form-control"></td>
                        <td>任务组</td>
                        <td><input ng-model="jobCreateInfo.jobGroup" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>任务描述</td>
                        <td colspan="3">
                            <input ng-model="jobCreateInfo.description" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>任务类名</td>
                        <td colspan="3">
                            <input ng-model="jobCreateInfo.jobClassName" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>开始时间</td>
                        <td>
                            <wui-date id="startTime" format="yyyy-mm-dd HH:mm:ss"
                                      btns="{'ok':'确定','now':'此刻'}" ng-model="jobCreateInfo.startTime">
                            </wui-date>
                        </td>
                        <td>结束时间</td>
                        <td>
                            <wui-date id="endTime" format="yyyy-mm-dd HH:mm:ss"
                                      btns="{'ok':'确定','now':'此刻'}" ng-model="jobCreateInfo.endTime">
                            </wui-date>
                        </td>
                    </tr>
                    <tr>
                        <td>重复间隔</td>
                        <td><input ng-model="jobCreateInfo.repeatInterval" type="number" class="form-control"></td>
                        <td>重复次数</td>
                        <td><input ng-model="jobCreateInfo.repeatCount" type="number" class="form-control"></td>
                    </tr>

                    <tr>
                        <td>优先级</td>
                        <td><input ng-model="jobCreateInfo.priority" type="number" class="form-control"></td>
                    </tr>

                    <tr>
                        <td>任务参数</td>
                        <td colspan="3">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" title="添加参数" ng-click="addLine()"><i
                                        class="fa fa-file-o"></i> 新增扩展属性
                                </button>

                            </div>
                            <table class="table table-bordered table-striped" width="800px">
                                <thead>
                                <tr>
                                    <td><input type="checkbox" class="icheckbox_square-blue"></td>
                                    <td>参数名称</td>
                                    <td>参数值</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in jobCreateInfo.jobData">
                                    <td><input type="checkbox" class="icheckbox_square-blue"></td>
                                    <td><input class="form-control" ng-model="item.name"></td>
                                    <td><input class="form-control" ng-model="item.value"></td>
                                    <td>
                                        <button type="button" class="btn btn-default" title="删除"
                                                ng-click="deleteLine($index)"><i class="fa fa-trash-o"></i> 删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button ng-click="createJob()" class="btn btn-default" data-dismiss="modal" aria-hidden="true">保存
                </button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--cron edit window-->
<div class="modal fade" id="editWindowCron" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabelCron">新建CRON任务</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" width="800px">
                    <tr>
                        <td>任务名称</td>
                        <td><input ng-model="jobCreateInfo.jobName" class="form-control"></td>
                        <td>任务组</td>
                        <td><input ng-model="jobCreateInfo.jobGroup" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>任务描述</td>
                        <td colspan="3">
                            <input ng-model="jobCreateInfo.description" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>任务类名</td>
                        <td colspan="3">
                            <input ng-model="jobCreateInfo.jobClassName" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>开始时间</td>
                        <td>
                            <wui-date id="startTime" format="yyyy-mm-dd HH:mm:ss" placeholder="请选择或输入日期"
                                      btns="{'ok':'确定','now':'此刻'}" ng-model="quartz.startTime">
                            </wui-date>
                        </td>
                        <td>结束时间</td>
                        <td>
                            <wui-date id="endTime" format="yyyy-mm-dd HH:mm:ss" placeholder="请选择或输入日期"
                                      btns="{'ok':'确定','now':'此刻'}" ng-model="quartz.endTime">
                            </wui-date>
                        </td>
                    </tr>
                    <tr>
                        <td>cron表达式</td>
                        <td colspan="3"><input ng-model="jobCreateInfo.cronExpression" class="form-control"></td>
                    </tr>

                    <tr>
                        <td>优先级</td>
                        <td><input ng-model="jobCreateInfo.priority" type="number" class="form-control"></td>
                    </tr>

                    <tr>
                        <td>任务参数</td>
                        <td colspan="3">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" title="添加参数" ng-click="addLine()"><i
                                        class="fa fa-file-o"></i> 新增扩展属性
                                </button>

                            </div>
                            <table class="table table-bordered table-striped" width="800px">
                                <thead>
                                <tr>
                                    <td><input type="checkbox" class="icheckbox_square-blue"></td>
                                    <td>参数名称</td>
                                    <td>参数值</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in jobCreateInfo.jobData">
                                    <td><input type="checkbox" class="icheckbox_square-blue"></td>
                                    <td><input class="form-control" ng-model="item.name"></td>
                                    <td><input class="form-control" ng-model="item.value"></td>
                                    <td>
                                        <button type="button" class="btn btn-default" title="删除"
                                                ng-click="deleteLine($index)"><i class="fa fa-trash-o"></i> 删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button ng-click="createJob()" class="btn btn-default" data-dismiss="modal" aria-hidden="true">保存
                </button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>