<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="query/css/queryMaintain.css">
</head>

<body>
    <div class="wrapper">
        <div class="search">
            <input type="text" class="inp" placeholder="关键字搜索">
            <ul class="btn-list">
                <li class="active" sex='all'>全部</li>
                <li sex='boys'>男</li>
                <li sex='girls'>女</li>
            </ul>
        </div>
        <ul class="user">

        </ul>
        <h3 class="prompt">空空如也</h3>
    </div>
    </div>
    <script src="query/js/createStore.js"></script>
    <script src="query/js/queryMaintain.js"></script>
</body>

</html>