<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marshal.halcyon.base.hr.mapper.HrUnitMapper">
    <resultMap id="BaseResultMap" type="com.marshal.halcyon.base.hr.entity.HrUnit">
        <id column="UNIT_ID" jdbcType="BIGINT" property="unitId"/>
        <result column="PARENT_ID" jdbcType="BIGINT" property="parentId"/>
        <result column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="MANAGER_POSITION" jdbcType="BIGINT" property="managerPosition"/>
        <result column="COMPANY_ID" jdbcType="BIGINT" property="companyId"/>
        <result column="ENABLED_FLAG" jdbcType="VARCHAR" property="enabledFlag"/>
        <result column="UNIT_CATEGORY" jdbcType="VARCHAR" property="unitCategory"/>
        <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="object_version" jdbcType="BIGINT" property="objectVersion"/>
    </resultMap>

    <select id="query" parameterType="com.marshal.halcyon.base.hr.entity.HrUnit" resultMap="BaseResultMap">
      select hu.*,hu1.unit_code parentUnitCode,hu1.name parentUnitName,hp.name managerPositionName
      from hr_unit hu
      left join
      hr_unit hu1
      on hu.parent_id = hu1.unit_id
      left join hr_position hp
      on hu.manager_position = hp.position_id
    </select>

    <select id="getParentUnitOptions" resultType="java.util.Map">
      select unit_id as id,name as text
      from hr_unit
    </select>
</mapper>