<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marshal.halcyon.base.account.mapper.SysUserRoleMapper">
    <resultMap id="BaseResultMap" type="com.marshal.halcyon.base.account.entity.SysUserRole">
        <id column="SUR_ID" jdbcType="BIGINT" property="surId"/>
        <result column="USER_ID" jdbcType="BIGINT" property="userId"/>
        <result column="ROLE_ID" jdbcType="BIGINT" property="roleId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="object_version" jdbcType="BIGINT" property="objectVersion"/>
    </resultMap>
</mapper>