<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>halcyon</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <!--jquery-->
    <script src="../plugins/jQuery/jquery-3.3.1.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--AngularJS-->
    <script src="../plugins/angularjs/angular.min.js"></script>
    <!--AngularJS module/controller/service-->

    <script src="../js/module/base.js" type="text/javascript"></script>
    <!-- 分页插件 -->
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <script src="../plugins/angularjs/pagination.js"></script>
    <!-- 时间插件 -->
    <link rel="stylesheet" type="text/css" href="../plugins/datetimepicker/css/wui.min.css">
    <script src="../plugins/datetimepicker/js/wui-date.js" type="text/javascript"></script>
    <!--select2-->
    <link rel="stylesheet" href="../plugins/select2/select2.css"/>
    <link rel="stylesheet" href="../plugins/select2/select2-bootstrap.css"/>
    <script src="../plugins/select2/select2.min.js" type="text/javascript"></script>
    <script src="../plugins/select2/angular-select2.js" type="text/javascript"></script>
    <!--sweet alert-->
    <link rel="stylesheet" href="../plugins/sweetalert/sweet-alert.css"/>
    <script src="../plugins/sweetalert/sweet-alert.min.js" type="text/javascript"></script>
</head>