<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script id="header" th:replace="common/header"></script>
<script src="../js/service/hr/hrUnitService.js" type="text/javascript"></script>
<script src="../js/service/hr/hrPositionService.js" type="text/javascript"></script>
<script src="../js/controller/baseController.js" type="text/javascript"></script>
<script src="../js/controller/hr/hrUnitController.js" type="text/javascript"></script>
<body class="hold-transition skin-red sidebar-mini" ng-app="halcyon" ng-controller="hrUnitController"
      ng-init="getParentUnitOptions()">
<div class="box">
    <!-- .box-body -->
    <div class="box-header with-border">
        <h3 class="box-title">部门定义</h3>
    </div>

    <div class="box-body">
        <!-- 搜索条件 -->
        <div class="box box-info collapsed-box search-box">
            <div class="box-header with-border">
                <h3 class="box-title">搜索条件</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="display: none">
                <form role="form" class="form-inline">
                    <div class="form-group col-lg-4">
                        <label for="name">用户姓名：</label>
                        <input type="text" class="form-control" id="name" ng-model="condition.userName"
                               placeholder="请输入名称">
                    </div>
                </form>
            </div>
        </div>
        <!-- 搜索条件end -->

        <!-- 数据表格 -->
        <!-- 数据表格 -->
        <div class="box box-info data-box">
            <div class="box-header with-border">
                <h3 class="box-title">用户信息</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-box table-responsive">
                    <!--工具栏-->
                    <div class="pull-left">
                        <div class="form-group form-inline">
                            <div class="btn-group">
                                <button ng-click="initForAdd()" type="button" class="btn btn-primary btn-sm"
                                        data-toggle="modal"
                                        data-target="#addWindow"><i class="fa fa-plus"></i> 新建
                                </button>
                                <button ng-click="delete()" type="button" class="btn btn-primary btn-sm"><i
                                        class="fa fa-trash-o"></i> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--工具栏/-->

                    <!--数据列表-->
                    <table id="dataList" class="table table-bordered table-condensed table-hover dataTable">
                        <thead>
                        <tr>
                            <th class="" style="padding-right:0px">
                                <input id="selall" type="checkbox" class="icheckbox_square-blue">
                            </th>
                            <th>部门编码</th>
                            <th>部门名称</th>
                            <th>上级部门编码</th>
                            <th>上级部门名称</th>
                            <th>描述</th>
                            <th>主管岗位</th>
                            <th>是否启用</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in rows">
                            <td><input type="checkbox" ng-click="updateSelected($event,item.unitId)"></td>
                            <!--<td>{{index+1}}</td>-->
                            <td>{{item.unitCode}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.parentUnitCode}}</td>
                            <td>{{item.parentUnitName}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.managerPositionName}}</td>
                            <th>{{item.enabledFlag}}</th>
                            <td class="text-center">
                                <button ng-click="initForUpdate(item.unitId)" type="button"
                                        class="btn btn-sm btn-info"
                                        data-toggle="modal" data-target="#updateWindow">
                                    <i class="fa fa-edit"></i>编辑
                                </button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <!--数据列表/-->
                </div>
                <script id="footer" th:replace="common/footer"></script>
            </div>
        </div>

    </div>
    <!-- 编辑窗口 -->
    <div class="modal fade" id="addWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="addModalLabel">部门编辑</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped" width="800px">
                        <tr>
                            <td>部门编码</td>
                            <td><input ng-model="hrUnit.unitCode" class="form-control"></td>
                            <td>部门名称</td>
                            <td>
                                <input ng-model="hrUnit.name" class="form-control">
                            </td>
                        </tr>

                        <tr>
                            <td>上级部门</td>
                            <td><input select2 config="parentUnitOptions" ng-model="hrUnit.parentId"
                                       class="form-control"></td>
                        </tr>
                        <tr>
                            <td>描述</td>
                            <td colspan="3"><input ng-model="hrUnit.description" class="form-control"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button ng-click="save()" class="btn btn-default" data-dismiss="modal" aria-hidden="true">保存
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">部门编辑</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped" width="800px">
                        <tr>
                            <td>部门编码</td>
                            <td><input ng-model="hrUnit.unitCode" class="form-control"></td>
                            <td>部门名称</td>
                            <td>
                                <input ng-model="hrUnit.name" class="form-control">
                            </td>
                        </tr>

                        <tr>
                            <td>上级部门</td>
                            <td><input select2 config="parentUnitOptions" ng-model="hrUnit.parentId"
                                       class="form-control"></td>
                            <td>主管岗位</td>
                            <td><input select2 config="managerPositionOptions" ng-model="hrUnit.managerPosition"
                                       class="form-control"></td>
                        </tr>
                        <tr>
                            <td>描述</td>
                            <td colspan="3"><input ng-model="hrUnit.description" class="form-control"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button ng-click="save()" class="btn btn-default" data-dismiss="modal" aria-hidden="true">保存
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>