<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marshal.halcyon.function.mapper.SysRequestInfoMapper">
  <resultMap id="BaseResultMap" type="com.marshal.halcyon.function.entity.SysRequestInfo">
    <id column="request_id" jdbcType="BIGINT" property="requestId" />
    <result column="request_time" jdbcType="TIMESTAMP" property="requestTime" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="os" jdbcType="VARCHAR" property="os" />
    <result column="browser" jdbcType="VARCHAR" property="browser" />
    <result column="remote_addr" jdbcType="VARCHAR" property="remoteAddr" />
    <result column="duration" jdbcType="BIGINT" property="duration" />
    <result column="is_success" jdbcType="VARCHAR" property="isSuccess" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="object_version" jdbcType="BIGINT" property="objectVersion"/>
  </resultMap>
</mapper>