<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marshal.halcyon.core.mapper.SysConfigMapper">
    <resultMap id="BaseResultMap" type="com.marshal.halcyon.core.entity.SysConfig">
        <id column="CONFIG_ID" jdbcType="BIGINT" property="configId"/>
        <result column="CONFIG_CODE" jdbcType="VARCHAR" property="configCode"/>
        <result column="CONFIG_KEY" jdbcType="VARCHAR" property="configKey"/>
        <result column="CONFIG_VALUE" jdbcType="VARCHAR" property="configValue"/>
        <result column="CONFIG_CATEGORY" jdbcType="VARCHAR" property="configCategory"/>
    </resultMap>

    <select id="getOssConfig" resultType="java.util.Map">
    SELECT
        (
            SELECT
                CONFIG_VALUE
            FROM
                sys_config
            WHERE
                CONFIG_CODE = 'OSS'
            AND CONFIG_KEY = 'endPoint'
        ) endpoint,
        (
            SELECT
                CONFIG_VALUE
            FROM
                sys_config
            WHERE
                CONFIG_CODE = 'OSS'
            AND CONFIG_KEY = 'accessKeyId'
        ) accessKeyId,
        (
            SELECT
                CONFIG_VALUE
            FROM
                sys_config
            WHERE
                CONFIG_CODE = 'OSS'
            AND CONFIG_KEY = 'accessKeySecret'
        ) accessKeySecret,
        (
            SELECT
                CONFIG_VALUE
            FROM
                sys_config
            WHERE
                CONFIG_CODE = 'OSS'
            AND CONFIG_KEY = 'bucketName'
        ) bucketName
    FROM
    DUAL
  </select>
</mapper>