<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marshal.halcyon.attachment.mapper.SysAttachmentMapper">
    <resultMap id="BaseResultMap" type="com.marshal.halcyon.attachment.entity.SysAttachment">
        <id column="attachment_id" property="attachmentId" jdbcType="DECIMAL"/>
        <result column="category_id" property="categoryId" jdbcType="DECIMAL"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="source_type" property="sourceType" jdbcType="VARCHAR"/>
        <result column="source_key" property="sourceKey" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>