/**
 *  halcyon-all.css
 */

body {
    color: black !important;
    font-family: "Open Sans", Arial, sans-serif !important;
    font-size: 13px !important;
    line-height: 20px;
    overflow-x: hidden !important;
    min-height: 100%;
    z-index: -2;
    margin: 0px !important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #f0f0f0 !important;
}

td, th {
    display: table-cell !important;
    vertical-align: inherit !important;
    line-height: 13px !important;
}

.box {
    background-color: #f0f0f0 !important;
    border-top-color: white !important;
}

.box-body {
    margin: 13px;
}

.search-box, .data-box {
    background-color: white !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
    border-bottom: 1px dotted rgb(221, 221, 221) !important;
}

.search-box .box-title, .data-box .box-title {
    color: rgb(158, 167, 179);
    float: left;
    font-family: "Open Sans", serif;
    font-size: 14px !important;
    line-height: 22px !important;
    font-weight: normal;
    position: relative;
    text-transform: uppercase;
    top: 6px;
    padding: 0px 5px 2px;
}

input[type='checkbox'] {
    margin-left: 20% !important;
}

input[type='text'] {

}

.modal-title {
    color: green;
}

/**
首页面包屑样式
@author:Marshal
 */
.page-breadcrumbs {
    position: relative;
    background: #f3f3f3;
    height: 42px;
    width: 100%;
    line-height: 36px;
    padding: 0;
    z-index: 1;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-sizing: border-box;
}

.breadcrumb {
    background-color: transparent !important;
    display: inline-block;
    line-height: 24px;
    margin: 0px 22px 0 20px;
    padding: 0;
    font-size: 13px;
    color: #333;
    border-radius: 0;
    list-style: none;
}

#breadcrumb-home:before {
    content: "";
    margin-left: 0px !important;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #999;
    content: "/\00a0";
    box-sizing: border-box;
    font-family: inherit;
    margin-left: 5px;
    font-size: 15px;
}

.breadcrumb > li + li:before {
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

#breadcrumb-refresh-a {
    background: url(../images/bread-refresh.png);
    cursor: pointer;
    width: 18px;
    height: 18px;
    display: inline-block;
    background-position: center;
    top: 4px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 20px;
}

/**
首页面包屑样式
**end**
 */

/**
首页皮肤样式
基于skin-blue实现覆盖
 */
.skin-blue .main-header .logo:hover, .skin-blue .main-header .logo {
    background-color: transparent !important;
    background: #b100ff;
}

.skin-blue .main-header .logo {
    background-color: transparent !important;
    background: #b100ff;
}

.skin-blue .wrapper, .skin-blue .main-sidebar {
    background-color: transparent !important;
    background-image: linear-gradient(-90deg, #29bdd9 0%, #276ace 100%);
}

.skin-blue .left-side, .skin-blue .sidebar-menu > li.header {
    background-color: transparent !important;
    background-image: linear-gradient(-90deg, #29bdd9 0%, #276ace 100%);
}

.skin-blue .main-header .navbar {
    background-color: transparent !important;
    background-image: linear-gradient(-90deg, #276ace 0%, #29bdd9 100%);
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: transparent !important;
    background-image: linear-gradient(-90deg, #29bdd9 0%, #276ace 100%);
}

/**
首页皮肤样式
 */


