<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script id="header" th:replace="common/header"></script>
<script src="../js/service/assign/sysFunctionAssignService.js" type="text/javascript"></script>
<script src="../js/controller/baseController.js" type="text/javascript"></script>
<script src="../js/controller/assign/sysFunctionAssignController.js" type="text/javascript"></script>
<!--ztree -->
<link rel="stylesheet" href="../plugins/ztree/css/demo.css" type="text/css">
<link rel="stylesheet" href="../plugins/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="../plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../plugins/ztree/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="../plugins/ztree/js/jquery.ztree.excheck.js"></script>
<body class="hold-transition skin-red sidebar-mini" ng-app="halcyon" ng-controller="sysFunctionAssignController"
      ng-init="selectRoleFunctionAssignList()">
<div class="box">
    <!--标题-->
    <div class="box-header with-border">
        <h3 class="box-title">功能分配</h3>
    </div>
    <!--标题end-->

    <div class="box-body">
        <!-- 搜索条件 -->
        <div class="box box-info collapsed-box search-box">
            <div class="box-header with-border">
                <h3 class="box-title">搜索条件</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="display: none">
                <form role="form" class="form-inline">
                    <div class="form-group col-lg-4">
                        <label for="name">用户姓名：</label>
                        <input type="text" class="form-control" id="name" ng-model="condition.userName"
                               placeholder="请输入名称">
                    </div>
                </form>
            </div>
        </div>
        <!-- 搜索条件end -->

        <!-- 数据表格 -->
        <div class="box box-info data-box">
            <div class="box-header with-border">
                <h3 class="box-title">用户信息</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-box table-responsive">
                    <!--工具栏-->
                    <div class="pull-left">
                        <div class="form-group form-inline">
                            <div class="btn-group">
                                <button ng-click="initForAdd()" type="button" class="btn btn-primary btn-sm"
                                        data-toggle="modal"
                                        data-target="#editWindow"><i class="fa fa-plus"></i> 新建
                                </button>
                                <button ng-click="delete()" type="button" class="btn btn-primary btn-sm"><i
                                        class="fa fa-trash-o"></i> 删除
                                </button>
                                <button ng-click="query(1,pageConf.itemsPerPage)" type="button"
                                        class="btn btn-primary btn-sm"><i
                                        class="fa fa-search"></i> 查询
                                </button>
                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-download"></i> 导出
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--工具栏/-->

                    <!--数据列表-->
                    <table id="dataList"
                           class="table table-bordered table-striped table-hover dataTable table-condensed">
                        <thead>
                        <tr>
                            <th class="" style="padding-right:0px">
                                <input id="selall" type="checkbox" class="icheckbox_square-blue">
                            </th>
                            <th>角色代码</th>
                            <th>角色名称</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in rows">
                            <td><input type="checkbox" ng-click="updateSelected($event,item.userId)"></td>
                            <td>{{item.roleCode}}</td>
                            <td>{{item.roleName}}</td>
                            <td class="text-center">
                                <button ng-click="initForUpdate(item.userId)" type="button"
                                        class="btn btn-sm btn-info"
                                        data-toggle="modal" data-target="#editWindow">
                                    <i class="fa fa-edit"></i>功能分配
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--数据列表/-->
                <script id="footer" th:replace="common/footer"></script>
            </div>
        </div>
    </div>
    <!-- 编辑窗口 -->
    <div class="modal fade" id="editWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">功能分配</h3>
                </div>
                <div class="modal-body">
                    <div class="zTreeDemoBackground left">
                        <ul id="tree" class="ztree"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="save()" class="btn btn-default" data-dismiss="modal" aria-hidden="true">保存
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>